# API Service URLs
REACT_APP_USER_SERVICE_URL=http://localhost:3001
REACT_APP_ORDER_SERVICE_URL=http://localhost:8002
REACT_APP_PRODUCT_SERVICE_URL=http://localhost:8000

# Other Configuration
REACT_APP_APP_NAME=AUM Groceries
REACT_APP_VERSION=1.0.0
